body {
    color:black;
    background-color: aqua;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.h1_w {
    border: 2px solid black;
    padding: 8px;
}